# 표준입출력장치

## 1. 표준입출력장치

--- 

일반적으로 표준입력장치는 키보드를 의미하고 표준출력장치는 모니터를 의미한다. 
- 키보드로 값을 입력받는 방법과 콘솔로 결과를 출력

## 2. 표준입력장치 

---

표준입력장치인 키보드로부터 임의의 값을 입력받아서 프로그래밍을 작성 가능 
- 소량의 데이터를 키보드로 입력 받아 로직(logic)의 처리과정을 확인하는 경우 주로 이용 

`input()`:  
- input(prompt): 프롬프트는 콘솔에 출력되는 메세지 역할
- 입력된 모든 값은 문자열로 처리(i.e. 숫자의 경우 숫자형으로 변경할 필요가 있음)

In [2]:
# 입력을 변수에 할당
num = input('숫자 입력:')
print('num:', num)
print('data type:', type(num))
print('num * 2:', num * 2)

num: 100
data type: <class 'str'>
num * 2: 100100

In [4]:
# str -> int
num1 = int(input('숫자 입력:'))
print('num1:', num1)
print('data type:', type(num1))
print('num1 * 2:', num1 * 2)

num1: 100
data type: <class 'int'>
num1 * 2: 200

In [5]:
# str -> float
num2 = float(input('숫자 입력:'))
print('num2:', num2)
print('data type:', type(num2))
print('num2 * 2:', num2 * 2)

num2: 100.0
data type: <class 'float'>
num2 * 2: 200.0

In [6]:
# 정수, 실수 연산결과: 실수
result = num1 + num2
print('result:', result)

result: 200.0

## 3. 표준출력장치

---

표준출력장치인 모니텉는 콘솔(Console)로 불려진다. 

`print()`: 
- values
- sep
- end
- file
- flush

In [7]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [8]:
# value
print('value =', 10+20+30+40+50)

value = 150

In [9]:
# sep: value들을 구분하는 구분자
print('010', '1234', '5678', sep = '-')

010-1234-5678

In [10]:
# end: 마지막 value 이후 
print('value =', 10, end = ',')
print(20)

value = 10,20

## 4. format과 양식문자 

---

`format()`:
- 주어진 값을 지정한 양식으로 변환해주는 함수

|양식문자|출력형식
|:--:|:--:|
|%d|10진수 정수|
|%o|8진수 정수|
|%x|16진수 정수|
|%f|실수(%f전체자릿수.소수점자리수)|
|%s|문자열|
|%c|단일문자열|

In [12]:
# 전체자리수.소수점자리수f
print('원주율 =', format(3.14159, '6.3f'))

원주율 =  3.142

In [13]:
# 10자리 정수
print('금액:', format(10000, '10d'))

금액:      10000

In [14]:
# ,
print('금액:', format(1250000, '3,d'))

금액: 1,250,000

In [15]:
name = '홍길동'
age = 35
price = 123.456
print('이름: %s, 나이: %d, data: %.2f'%(name, age, price))

이름: 홍길동, 나이: 35, data: 123.46

## 5. 외부상수 출력 

---

- print('{}'.format(값))형식으로 print()안에서 {}기호를 통해 외부 값을 출력할 수 있다.

- {n}처엄 순번을 입력하여 외부 값을 받을 수 있다.

In [18]:
print('이름: {}, 나이: {}, data: {}'.format(name, age, price))

이름: 홍길동, 나이: 35, data: 123.456

In [19]:
print('이름: {1}, 나이: {0}, data = {2}'.format(age, name, price))

이름: 홍길동, 나이: 35, data = 123.456

In [21]:
# SQL 
uid = input('id input:')
query = f'select * from member where uid = {uid}'
print(query)

select * from member where uid = asdf